$font: 'PFDinTextPro', sans-serif

*
	box-sizing: border-box
	margin: 0
	padding: 0

@font-face
	font-family: 'PFDinTextPro'
	src: url('../font/PFDinTextPro-Light.woff2') format('woff2'), url('../font/PFDinTextPro-Light.woff') format('woff'), url('../font/PFDinTextPro-Light.ttf') format('truetype')
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'PFDinTextPro'
	src: url('../font/PFDinTextPro-Regular.woff2') format('woff2'), url('../font/PFDinTextPro-Regular.woff') format('woff'), url('../font/PFDinTextPro-Regular.ttf') format('truetype')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'PFDinTextPro'
	src: url('../font/PFDinTextPro-Medium.woff2') format('woff2'), url('../font/PFDinTextPro-Medium.woff') format('woff'), url('../font/PFDinTextPro-Medium.ttf') format('truetype')
	font-weight: 500
	font-style: normal

body
	font: 400 14px/16px $font
	color: #171717

.bg
	background: url("../img/choose_bg.jpg") no-repeat #e3b99a center
	background-size: cover

.container
	max-width: 1170px
	width: 100%
	margin: 0 auto

//choose section
.choose-section
	padding: 263px 0 210px 0
	text-align: center
	position: relative
	top: 0

.col-4
	flex: 0 0 33.333333%
	padding: 0 13px

.fade-container
	position: relative
	top: 0

.choose-head
	font: 300 48px $font

.choose
	margin-top: 70px
	justify-content: space-between
	display: flex
	flex-wrap: wrap

	&__item
		border-radius: 50%
		background-color: rgba(255,255,255,0.5)
		height: 100%
		width: 100%
		padding: 28.77% 0
		display: flex
		justify-content: center
		align-items: center
		cursor: pointer

		&:hover
			box-shadow: 0 0 0 1px #00b0a2, 0 0 0 10px  rgba(255,255,255,0.5)

	&__item-text
		font: 300 28px $font
		color: #242424
		margin-top: 33px

	&__item-icon
		width: 100%

.mt-16
	margin-top: 16px

//tabs section
.tabs-section
	padding-bottom: 250px
	position: absolute
	top: 0
	left: 0
	z-index: -1
	opacity: 0
	width: 100%

.tabs-nav
	border-bottom: 1px solid #c8c8c8

	&__links
		list-style: none
		display: flex

	&__link
		font: 300 28px $font
		flex: 0 0 33.333333%
		color: rgba( 46, 46, 46, 0.8 )
		text-align: center
		padding: 40px 0
		position: relative

	&__icon
		display: none

	&__link.active
		color: #009e82
		font-weight: 400

		&:after
			content: ''
			display: block
			height: 3px
			background: rgba( 0, 151, 138,.5 )
			position: absolute
			width: 100%
			bottom: -2px

.tabs-content
	top: 200px
	position: absolute
	min-width: 700px
	text-align: left
	opacity: 0

	&__text
		font: 300 18px/24px $font
		color: #1c1c1c
		margin-bottom: 40px

	&__head
		font: 300 24px $font
		margin-bottom: 20px
		color: #171717

	&__list
		list-style: none

	&__item
		font: 300 18px $font
		font-size: 18px
		color: #1d1d1d
		display: flex
		align-items: center
		margin-bottom: 4px

		span
			color: #00b596
			font-size: 32px
			margin-right: 20px

	&__button
		border-radius: 3px
		background-color: #009e82
		color: #ffffff
		font: 500 18px $font
		border: 0
		padding: 11px 28px
		margin-top: 30px
		cursor: pointer

@media only screen and (min-width: 1200px)
	//animation classes
	.bg.animate
		background: url("../img/type_bg.jpg") no-repeat #f3f2da center
		transition: background 1s ease 0.5s

	.animate .choose-section
		position: relative
		opacity: 0
		transition: transform 1s linear 0s, opacity 0.4s ease 1s
		transform: translate(0, -559px)

	.animate .tabs-section
		opacity: 1
		transition: opacity 0.5s ease 1s
		z-index: 1

	.animate
		.tabs-content
				opacity: 1
				transition: opacity 0.5s ease 0.8s


@media only screen and (max-device-width: 376px)
	.choose-section
		background-position: 50% 50%
		padding: 46px 18px 0 18px

	.choose-head
		font-size: 36px

	.choose
		display: none

	.tabs-section
		margin-top: 20px
		position: relative
		opacity: 1
		z-index: 1

	.tabs-nav
		border-bottom: none

		&__text
			font-size: 16px

		&__links
			flex-wrap: wrap

		&__icon
			display: block
			margin-right: 20px

		&__link
			flex: 0 0 100%
			padding: 0
			overflow: hidden

		&__link.active
			color: #2b2b2b
			font-weight: 300

			&:after
				display: none

		&__link-wrap
			background: #ffffff
			font-weight: 400
			font-size: 19px
			text-align: left
			position: relative
			padding: 20px 15px 20px 20px
			align-items: center
			display: flex
			margin: 0 18px 12px 18px

			&:after
				content: ''
				border: solid rgba(0, 2, 3, 0.45)
				border-width: 0 1px 1px 0
				display: inline-block
				padding: 5px
				transform: rotate(45deg)
				position: absolute
				right: 15px
				top: 40%

	.tabs-content
		display: none
		min-width: auto
		top: 0
		position: relative
		opacity: 1
		height: 0
		overflow: hidden
		z-index: 1
		background: url('../img/type_bg_mb.jpg') no-repeat #f3f2da bottom
		background-size: contain
		margin-bottom: 25px

		&__item
			font-size: 16px

	.trade
		opacity: 1
		padding: 10px 30px 270px 30px

	.active_tab .tabs-content
		display: block
		height: auto

	.active_tab
		background: #f3f2da






